<div class="side_bar">
    <div class="overlay"></div>
    <div class="btn_contianer">
        <button class="option-btn">Option</button>
    </div>

    <div class="quantity_container">
        <p>Quantity</p>    
            <input type="text" placeholder="Type here">
    </div>
</div>